/* Left Menu */

.left-menu-container {
  width: 20%;
  max-width: 280px;
  min-width: 280px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  overflow-y: auto;
  left: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: azure;
}

.left-menu-container-bottom__button,
.restart-button {
  border: none;
  border-radius: 15px;
  font-size: 18px;
  background-color: lightblue;
  cursor: pointer;

  outline: none;
}
.left-menu-container-stats {
  /* border: black solid 1px;
  border-radius: 10px; */
}

.left-menu-container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 40px;
  width: 100%;
  max-width: 192px;
  padding: 0 21px 0 27px;
  overflow: hidden;
  color: black;
}

.social {
  position: fixed;
  bottom: 0px;
}
/* Main */

.main-content-container {
  padding-left: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  padding: 0px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  font-size: 80px;
}

html {
  background-color: azure;
}
.button {
  font-size: 15px;
}
.start-button {
  font-size: 50px;
}
.question-container {
  background-color: azure;
  max-width: 75%;
  border-radius: 20px;
  padding: 25px;
  border: green solid 1px;
  width: 500px;
}

.question__header {
  font-size: 30px;
}

.question-answer__input,
.submitButton,
.nextButton {
  padding: 10px 0;
  font-size: 20px;
}

.results-container {
  position: fixed;
  left: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
