/* Left Menu */

.left-menu-container {
  width: 20%;
  max-width: 280px;
  min-width: 280px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  overflow-y: auto;
  left: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: azure;
}

.left-menu-container-bottom__button,
.restart-button {
  border: none;
  border-radius: 15px;
  font-size: 18px;
  background-color: lightblue;
  cursor: pointer;
  margin-top: 20px;
}

.left-menu-container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 40px;
  width: 100%;
  max-width: 192px;
  padding: 0 21px 0 27px;
  overflow: hidden;
  color: black;
}

/* Main */

.main-content-container {
  padding-left: 280px;
  transition: transform 0.5s ease 0s;
}

.main-content {
  padding: 0px 40px;
  height: 100%;
  margin-left: 500px;
}
.header {
  font-size: 80px;
  margin-left: 650px;
}

html {
  background-color: azure;
}
.button {
  font-size: 15px;
}
.start-button {
  font-size: 50px;
  margin-left: 860px;
}
.question-container {
  width: 900px;
  position: fixed;
  left: 600px;
  background-color: azure;
  max-width: 75%;
}

.question__header {
  font-size: 30px;
}

.question-answer__input,
.submitButton,
.nextButton {
  padding: 10px 0;
  font-size: 20px;
}

.results-container {
  position: fixed;
  left: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
